@font-face {
    font-family: "Gilroy-ExtraBold";
    src:url("Gilroy-ExtraBold.eot");
    src:url("Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src:url("Gilroy-Medium.eot");
    src:url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Medium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Regular";
    src:url("Gilroy-Regular.eot");
    src:url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Regular.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Light";
    src:url("Gilroy-Light.eot");
    src:url("Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
